.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .signin-form {
        min-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
        .signin-btn {
            border-radius: 20px;
            width: 100%;
            min-height: 32px;
        }
        .forgot-password-row {
            text-align: center;
        }
        .custom-input {
            min-height: 36px;
            border-radius: 5px;
        }
    }
    .signin-btn-row {
        margin-bottom: 10px !important;
    }
}
.frm {
    width: 100%;
    background: #f1f1f1;
    opacity: 1;
    border-radius: 10px;
}
